
/* ---------- Color Module Styles ----------- */

body {
  color: #ffffff;
}
#page-wrapper,
body.overlay {
  color: #3b3b3b;
}
#main {
  color: #3b3b3b;
}
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
  text-decoration: underline;
}
.tabs ul.primary li a.active {
  background-color: #ffffff;
}
.tabs ul.primary li.active a {
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
#header {
  color: #8E8F7E;
}
a {
  color: #0071B3;
}
a:hover,
a:focus {
  color: #018fe2;
}
a:active {
  color: #23aeff;
}
.sidebar .block {
  border: 0px;
}
#footer-wrapper {
}
.region-header,
.region-header a,
.region-header li a.active,
#secondary-menu-links li a {
  color: #fffeff;
}
